[Desktop Entry]
Version=1.0
Type=Application
Name=保存当前地图
Comment=一键保存建图结果并切换比赛地图
Exec=/home/asus/nav3_mapping_nogicp_shortLA_stable/launch_save_map_desktop.sh
Icon=utilities-terminal
Terminal=false
Categories=Utility;
StartupNotify=true
