[Desktop Entry]
Version=1.0
Type=Application
Name=导航启动
Comment=一键启动比赛导航
Exec=/home/asus/nav3_mapping_nogicp_shortLA_stable/launch_nav_desktop.sh
Icon=utilities-terminal
Terminal=false
Categories=Utility;
StartupNotify=true
